* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.container {
  padding: 20px;
  border-radius: 10px;
  background-color: #1e1e1e;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
  width: 40%;
  min-width: 300px;
  max-width: 500px;
}


h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

#contador {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 10px;
}

img {
  width: 100%;
  max-width: 500px;
  height: 80%;
  display: block;

  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 90%;
    padding: 15px;
  }

  h1 {
    font-size: 1.2rem;
  }

  #contador {
    font-size: 1.5rem;
  }

  img {

  
    border-radius: 5px;
  }
}
